body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(111, 172, 212);
  overflow-x: hidden;
  padding-top: 50px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #c70101;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

/* @media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
} */

#mainform {
  position: absolute;
  left: 25%;
  margin: auto;
  width: 1000px;
}

.cfgform {
  border-radius: 5px;
  background-color: #cac7c7;
  padding: 10px;
  margin-top: 0.5%;
}

#projtitle {
  color: #c70101;
}

.lb {
  color: rgb(3, 104, 104);
  width: 300px;
  display: inline-block;
  padding: 1%;
}

.cfgform input[type="text"] {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin-top: 1%;
  color: #111111;
  width: 500px;
  border-radius: 4px;
}

.cfgform input[type="button"] {
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 1.5%;
  float: right;
}
